@model CreateSliderDto

@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Öne Çıkan Alan Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="firsttitle">İlk Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title1" id="firsttitle">
                            </div>
                            <div class="form-group">
                                <label for="secondtitle">İkinci Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title2" id="secondtitle">
                            </div>
                            <div class="form-group">
                                <label for="lasttitle">Son Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title3" id="lasttitle">
                            </div>
                            <div class="form-group">
                                <label for="firstdesc">İlk Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description1" id="firstdesc">
                            </div>
                            <div class="form-group">
                                <label for="seconddesc">İkinci Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description2" id="seconddesc">
                            </div>
                            <div class="form-group">
                                <label for="lastdesc">Son Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description3" id="lastdesc">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Öne Çıkan Alanı Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


